<h1 class="text-center">Subscription validation </h1>

<div class="progress">
  <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<div class="mb-3 text-end"> Step 
  <span class="fw-bold"> 3 </span>
  out of 
  <span class="fw-bold"> 3 </span>
 
</div>

<div class="card-with-effect" >

  <p>
      Your subscription is saved
  </p>

  <p>
      Thanks a lot from the athlete : 
      <span class="fw-bold">
        <%=  @thankyounote  %>
      </span>
  
  </p>

  <%= link_to "Home", root_path, class: "w-100 btn btn-secondary" %>

</div>