<h1 class="text-center">Subscriptions details </h1>

<div class="progress">
  <div class="progress-bar" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<div class="mb-3 text-end"> Step 
  <span class="fw-bold"> 1 </span>
  out of 
  <span class="fw-bold"> 3 </span>
 
</div>

<%= render "campaigns/main_campaign", campaign: @campaign %>

