<h1>Dashboard</h1>

<nav class="navbar bg-light">
  <form class="container-fluid justify-content-start">
    <%= link_to "Activities", dashboard_activities_path, class:"btn btn-primary mx-2" %>
    <%= link_to "Revenues", dashboard_revenues_path, class:"btn btn-primary mx-2" %>
    <%= link_to "Monetization", dashboard_monetization_path, class:"btn btn-primary mx-2" %>
    <%= link_to "Guide", dashboard_guides_path, class:"btn btn-primary mx-2" %>

  </form>
</nav>

<hr>    