<h1> success page </h1>

Checkout status: <%= @session_with_expand.payment_status %> <br>

Product bought: <%= @product_id.title  %> <br>

Price paid: <%= @session_with_expand.amount_total/100.to_f %>
 <%= @session_with_expand.currency %>

