      <div class="container-fluid text-end mt-2 p-2"> 
        <button type="submit" class="btn btn-primary">
          <span><i class="fa fa-square-check"></i> </span>
        </button>
      </div>