

<h4>Posts abonnements</h4>

<div id="posts">
  <% @posts_suivis.each do |post| %>
    <%= render post %>
  <% end %>
</div>



<h4 class="mt-4">Tous les posts</h4>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    
  <% end %>
</div>
