
<% if @partial_role %>

    <%= render partial: @partial_role  %>

<% else %>

    <h4 class="mt-4">Tous les posts</h4>

    <div id="posts">
        <% @posts.each do |post| %>
            <%= render post %>
        <% end %>
    </div>


<% end %>

