<h1>Step 1 - Create Athlete account</h1>

<div class="progress">
  <div class="progress-bar" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
</div>
1 out of 4
<hr>


<%= render 'steps_athlete/registration_form', resource_name: User.new %>
