<p style="color: green"><%= notice %></p>

<h1>Campaigns</h1>

<%= render @athlete %>

<div id="campaigns">
  <% @campaigns.each do |campaign| %>
    <%= render campaign %>
    <p>
      <%#= link_to "Show this campaign", campaign %>
      <%#= link_to "S'abonner", new_subscription_campaign_path(campaign), class: "btn btn-sm btn-warning fa-solid fa-star m-1" %>

    </p>
  <% end %>
</div>

<%#= link_to "New campaign", new_campaign_path %>
